In [1]:
a = "my name is sunita"
print(a)

my name is sunita

In [2]:
a = "hello world\n"
print(a*2)

hello world
hello world

In [3]:
a = 10
b = 20
print(a+b)

30

In [4]:
helloworld = "hello world"
print(helloworld)

hello world

In [2]:
#str() float() str()

In [20]:
a = 10
print(a)

10

In [ ]:
str(a)

In [21]:
b = str(a)

In [ ]:
a = 10
print(a)

In [10]:
a = 10.5
b = str(a)
b

'10.5'

In [11]:
a = 10.5
b = int(a)
b

10

In [12]:
a = 10
b = float(a)
b

10.0

In [16]:
a = 1         0.1 also true
b = bool(a)
b

True

In [24]:
name = "Ram" #srting and integer =both must be of same character = convert the integer to string
age = 34
add = "Kathmandu" #input variable always takes string value

info = "Hello world I am " + name + " I am from " + add +" I am " + str(age)
print(info)

Hello world I am Ram I am from Kathmandu I am 34

In [26]:
name = input("enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = "Hello world I am " + name + " I am from " + add + " I am " +str(age)

enter name = sunita
Enter age = 30
Enter add = mulpani

In [16]:
print("Twinkle Twinkle Little Star \n\tHow i wonder what you are!\n\t\t Up above the world so high\n\t\t Like a diamond in the sky.\n Twinle ,Twinkle, Little star \n\t oOw i wonder what you are")

Twinkle Twinkle Little Star
	How i wonder what you are!
		 Up above the world so high
		 Like a diamond in the sky.
 Twinle ,Twinkle, Little star
	 oOw i wonder what you are

In [19]:
import sys
print(python.sys_version())
print("python version")
print("sys.version")

NameError: name 'python' is not defined