In [ ]:
#dictionary
# indexing
# ordered
# multiple and duplicate data # key value should not be multiple
# mutable

In [ ]:
d = {<key>:<value>, <key>:<value>,....}

In [4]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
print(d)
print(type(d))
print(d['a'])

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>
Apple

In [8]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
e = {1:1,2:2,3:3,4:4}
d.update(e)
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 1: 1, 2: 2, 3: 3, 4: 4}

In [11]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
for i in d:
    print(i, end ="")

abc

In [12]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
for i in d.values():
    print(i, end ="")

AppleBallCat

In [13]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
for i in d.items():
    print(i, end ="")

('a', 'Apple')('b', 'Ball')('c', 'Cat')

In [14]:
# create
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [15]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
d['a']

'Apple'

In [17]:
# replace the value, #update
d = {'a':'Apple','b':'Ball','c':'Cat'}
d['a'] = 'Ant'
print(d)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [18]:
#del # pop()
d = {'a':'Apple','b':'Ball','c':'Cat'}
del d['a']
d

{'b': 'Ball', 'c': 'Cat'}

In [21]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
d.pop('a')
d

{'b': 'Ball', 'c': 'Cat'}

In [24]:
# value of a moves to b
d = {'a':'Apple','b':'Ball','c':'Cat'}
b = d.pop('a')
print(b)
print(d)

Apple
{'b': 'Ball', 'c': 'Cat'}

In [25]:
# list inside dictionary
info = {'Ram': 98465,'Shyam':981111,'Hari':9333333}
info

{'Ram': 98465, 'Shyam': 981111, 'Hari': 9333333}

In [27]:
info = {'Ram': 98465,'Shyam':981111,'Hari':9333333}
info['Ram']

98465

In [28]:
info = {'Ram': [1,2],'Shyam':[1,2],'Hari':[1,2]}
info['Ram']

[1, 2]

In [38]:
print(info["Ram"])

[3, 2]

In [42]:
info = {'Ram': [1,2],'Shyam':[1,2],'Hari':[1,2]}
del info['Ram'][0]
info

{'Ram': [2], 'Shyam': [1, 2], 'Hari': [1, 2]}

In [5]:
d = {}
n = int(input("Enter the value ="))
for i in range(n):
    name = input("Enter the value = ")
    ntc = input("Enter ntc num =")
    ncell = input("Enter ncell num")
    d[name] = [ntc,ncell]
    print(d)

Enter the value =2
Enter the value = sunita
Enter ntc num =9
Enter ncell num7
{'sunita': ['9', '7']}
Enter the value = dipen
Enter ntc num =9
Enter ncell num8
{'sunita': ['9', '7'], 'dipen': ['9', '8']}

In [20]:
d = {}
n = int(input("Enter value = "))
for i in range(n):
    bio = input("enter bio =")
    name = input("Enter value = ")
    ntc = input("enter ntc no = ")
    ncell = input("enter ncell no =")
    d[bio] = [name,ntc,ncell]
    print(d)

Enter value = 2
enter bio =group a
Enter value = sunita
enter ntc no = 98
enter ncell no =97
{'group a': ['sunita', '98', '97']}
enter bio =group b
Enter value = dipen
enter ntc no = 98
enter ncell no =97
{'group a': ['sunita', '98', '97'], 'group b': ['dipen', '98', '97']}

In [10]:
d = {'name':[],'ntc':[], 'ncell':[]}
n = int(input("Enter value = "))
for i in range(n):
    name = input("Enter value = ")
    ntc = input("enter ntc no = ")
    ncell = input("enter ncell no =")
    d['name'].append(name)
    d['ntc'].append(ntc)
    d['ncell'].append(ncell)
    
print(d)

Enter value = 2
Enter value = ram
enter ntc no = 98
enter ncell no =97
Enter value = sita
enter ntc no = 98
enter ncell no =97
{'name': ['ram', 'sita'], 'ntc': ['98', '98'], 'ncell': ['97', '97']}
{'name': ['ram', 'sita'], 'ntc': ['98', '98'], 'ncell': ['97', '97']}

In [12]:
# dict inside list
d = [{'name':'Ram', 'age': 34,'add':'kathmandu'},
    {'name':'Shyam', 'age': 66,'add':'bhaktapur'},
    {'name':'Hari', 'age': 39,'add':'Lalitpur'},
    {'name':'Gopi', 'age': 36,'add':'kathmandu'}]
print(d)

[{'name': 'Ram', 'age': 34, 'add': 'kathmandu'}, {'name': 'Shyam', 'age': 66, 'add': 'bhaktapur'}, {'name': 'Hari', 'age': 39, 'add': 'Lalitpur'}, {'name': 'Gopi', 'age': 36, 'add': 'kathmandu'}]

In [13]:
print(d[0])

{'name': 'Ram', 'age': 34, 'add': 'kathmandu'}

In [15]:
print(d[0]['name'])

Ram

In [19]:
l = []
n = int(input("Enter value = "))
for i in range(n):
    name = input("Enter value = ")
    ntc = input("enter ntc no = ")
    ncell = input("enter ncell no =")
    d = {'name':name, 'ntc':ntc, 'ncell':ncell}
    l.append(d)
print(d)
print(l)

Enter value = 2
Enter value = sunita
enter ntc no = 98
enter ncell no =98
Enter value = su
enter ntc no = 98
enter ncell no =97
{'name': 'su', 'ntc': '98', 'ncell': '97'}
[{'name': 'sunita', 'ntc': '98', 'ncell': '98'}, {'name': 'su', 'ntc': '98', 'ncell': '97'}]

In [21]:
print(l[0])

{'name': 'sunita', 'ntc': '98', 'ncell': '98'}

In [24]:
l[0]['name']

'sunita'

In [25]:
del l[0]
l

[{'name': 'su', 'ntc': '98', 'ncell': '97'}]

In [26]:
# dict inside dict

info = {1:{'name':'Ram','age':36,'add':'Kathmandu'},
        2:{'name':'Shyam', 'age': 66,'add':'bhaktapur'},
        3:{'name':'Hari', 'age': 39,'add':'Lalitpur'},
        4:{'name':'Gopi', 'age': 36,'add':'kathmandu'}}
info

{1: {'name': 'Ram', 'age': 36, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 66, 'add': 'bhaktapur'},
 3: {'name': 'Hari', 'age': 39, 'add': 'Lalitpur'},
 4: {'name': 'Gopi', 'age': 36, 'add': 'kathmandu'}}

In [27]:
info[1]

{'name': 'Ram', 'age': 36, 'add': 'Kathmandu'}

In [28]:
info[1]["name"]

'Ram'

In [31]:
del info[1]['name']
info

{1: {'age': 36, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 66, 'add': 'bhaktapur'},
 3: {'name': 'Hari', 'age': 39, 'add': 'Lalitpur'},
 4: {'name': 'Gopi', 'age': 36, 'add': 'kathmandu'}}

In [32]:
info = {}
n = int(input("Enter value ="))
for i in range(n):
    name = input("enter name = ")
    age = input('enter age =')
    add = input('enter add')
    d = {'name':name,'age':age,'add':add}
    info[i] = d
    print(info)

Enter value =2
enter name = su
enter age =98
enter addkath
{0: {'name': 'su', 'age': '98', 'add': 'kath'}}
enter name = suni
enter age =66
enter addlali
{0: {'name': 'su', 'age': '98', 'add': 'kath'}, 1: {'name': 'suni', 'age': '66', 'add': 'lali'}}

In [33]:
info = {}
n = int(input("Enter value ="))
for i in range(1,n+1):
    name = input("enter name = ")
    age = input('enter age =')
    add = input('enter add')
    d = {'name':name,'age':age,'add':add}
    info[i] = d
    print(info)

Enter value =2
enter name = su
enter age =98
enter add97
{1: {'name': 'su', 'age': '98', 'add': '97'}}
enter name = di
enter age =55
enter addboudha
{1: {'name': 'su', 'age': '98', 'add': '97'}, 2: {'name': 'di', 'age': '55', 'add': 'boudha'}}

In [34]:
info[3] = {'name': 'Shyam', 'age': 66, 'add': 'bhaktapur'}
info

{1: {'name': 'su', 'age': '98', 'add': '97'},
 2: {'name': 'di', 'age': '55', 'add': 'boudha'},
 3: {'name': 'Shyam', 'age': 66, 'add': 'bhaktapur'}}

In [40]:
info[3]['add'] = {'per': 'boudha','temp':'kapan'}
info

{1: {'name': 'su', 'age': '98', 'add': '97'},
 2: {'name': 'di', 'age': '55', 'add': 'boudha'},
 3: {'name': 'Shyam',
  'age': 66,
  'add': {'per': 'boudha', 'temp': 'kapan'},
  ('add', 'age'): ({'per': 'boudha', 'temp': 'kapan'}, {65})}}

In [41]:
info[3]['add'] = {'per': 'boudha','temp':'kapan'}
info

{1: {'name': 'su', 'age': '98', 'add': '97'},
 2: {'name': 'di', 'age': '55', 'add': 'boudha'},
 3: {'name': 'Shyam',
  'age': 66,
  'add': {'per': 'boudha', 'temp': 'kapan'},
  ('add', 'age'): ({'per': 'boudha', 'temp': 'kapan'}, {65})}}

In [42]:
info[3] = {'name': 'Shyam', 'age': 66, 'add': 'bhaktapur'}
info

{1: {'name': 'su', 'age': '98', 'add': '97'},
 2: {'name': 'di', 'age': '55', 'add': 'boudha'},
 3: {'name': 'Shyam', 'age': 66, 'add': 'bhaktapur'}}

In [ ]:
info[3]['age']['add'] = {'per': 'boudha','temp':'kapan'}{'age':35,}

In [46]:
info[1]['age'] = 55
info

{1: {'name': 'su', 'age': 55, 'add': '97'},
 2: {'name': 'di', 'age': '55', 'add': 'boudha'},
 3: {'name': 'Shyam', 'age': 66, 'add': 'bhaktapur'}}

In [3]:
info = {'name': 'Shyam', 'age': 66, 'add': 'bhaktapur'}
info['phone'] = 9843269777
info

{'name': 'Shyam', 'age': 66, 'add': 'bhaktapur', 'phone': 9843269777}

In [4]:
info = {'name': 'Shyam', 'age': 66, 'add': 'bhaktapur'}
info.update({'name': "Hari","age": 58,"phone":9843269777})
info

{'name': 'Hari', 'age': 58, 'add': 'bhaktapur', 'phone': 9843269777}

In [8]:
info = {'name': 'Shyam', 'age': 66, 'add': 'bhaktapur'}
del info['age']
info

{'name': 'Shyam', 'add': 'bhaktapur'}

In [10]:
info = {'name': 'Shyam', 'age': 66, 'add': 'bhaktapur'}
age = info.pop('age')
info

{'name': 'Shyam', 'add': 'bhaktapur'}

In [11]:
info = {'name': 'Shyam', 'age': 66, 'add': 'bhaktapur'}
print(len(info))

3

In [20]:
info = {'name': 'Shyam', 'age': 66, 'add': 'bhaktapur'}
print(info.values())

dict_values(['Shyam', 66, 'bhaktapur'])