In [ ]:
# file 
#file = open("<file_name>","<mode>")
# file.close()

#with open("<file_name>","<mode>") as file:      #no need to close the file
#   <operation>   

#modes
#create ->'x'
#read -> 'r'
#write -> 'w'
#append -> 'a'

In [10]:
file = open('data,txt','x')       #create mode(x)
file.close()

In [13]:
pwd

'C:\\Users\\lamad\\Desktop\\15 feb'

In [15]:
file = open("data,txt","r")
data = file.read()
print(data)
file.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World

In [16]:
try:
    file = open('data,txt','x')
    file.close()
except:
    print("The file is already there.")

The file is already there.

In [17]:
print(type(data))

<class 'str'>

In [18]:
data = data.split('\n')
data

['1.Hello World',
 '2.Hello World',
 '3.Hello World',
 '4.Hello World',
 '5.Hello World']

In [19]:
print(data[0])

1.Hello World

In [20]:
#write mode- it also create the file, it override the existing data
file = open("data1.txt","w")
data = file.write('i am python')
file.close()

In [26]:
bill = str()
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter product name =")
    price = float(input("Enter price ="))
    qty = float(input("Enter quantity ="))
    total = price*qty
    bill = bill + f"{name}\t{price}\t{qty} \t{total}\n"
    
file = open("bill.txt","w")
file.write('Name\tPrice\tQuantity\tTotal\n')

data = file.write(bill)
file.close()

Enter n =2
Enter product name =apple
Enter price =500
Enter quantity =2
Enter product name =ornge
Enter price =300
Enter quantity =2

In [28]:
bill = str()
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter product name =")
    price = float(input("Enter price ="))
    qty = float(input("Enter quantity ="))
    total = price*qty
    bill = bill + f"{name},{price},{qty} ,{total}\n"
    
file = open("bill.csv","w")   # csv file open with excel
file.write('Name,Price,Quantity,Total\n')

data = file.write(bill)
file.close()

Enter n =2
Enter product name =apple
Enter price =500
Enter quantity =2
Enter product name =orange
Enter price =600
Enter quantity =2

In [29]:
pwd

'C:\\Users\\lamad\\Desktop\\15 feb'

In [21]:
#using append mode
file = open("bill8.csv","a")
file.write('Name,Price,Quantity,Total\n')

26

In [22]:
bill = str()
n = int(input("Enter n ="))
for i in range(n):
    name = input("Enter product name =")
    price = float(input("Enter price ="))
    qty = float(input("Enter quantity ="))
    total = price*qty
    bill = bill + f"{name},{price},{qty},{total}\n"
    


file.write(bill)

Enter n =2
Enter product name =apple
Enter price =5
Enter quantity =2
Enter product name =sunita
Enter price =5
Enter quantity =5

39

In [23]:
file.close()

In [13]:
import pandas as pd
df = pd.read_csv('bill1.csv')
df

    Name\tPrice\tQuantity\tTotal
0     apple\t500.0\t2.0 \t1000.0
1    banana\t600.0\t4.0 \t2400.0
2       coke\t250.0\t3.0 \t750.0
3     fanta\t300.0\t6.0 \t1800.0
4     sprite\t500.0\t1.0 \t500.0
5      slice\t100.0\t5.0 \t500.0
6      deu\t150.0\t20.0 \t3000.0
7       rice\t500.0\t1.0 \t500.0
8      ball\t500.0\t2.0 \t1000.0
9       doll\t600.0\t1.0 \t600.0
10  hairband\t250.0\t1.0 \t250.0
11     mango\t500.0\t1.0 \t500.0

In [15]:
file = open("bill3.csv","a")
file.write("Name,Price,Qty,Total\n")

21

In [17]:
bill = str()
n = int(input("Enter n :-"))
if i in range(n):
    name = input("Enter name =")
    price = float(input("Enter price ="))
    qty = float(input("Enter qty ="))
    total = price*qty
    bill = bill + f"{name},{price},{qty},{total}\n"
    
file.write(bill)

Enter n :-3
Enter name =apple
Enter price =5
Enter qty =20

21

In [18]:
file.close()

In [20]:
import pandas as pd
df = pd.read_csv("bill3,csv")
df

FileNotFoundError: [Errno 2] No such file or directory: 'bill3,csv'

In [3]:
print("Twinkle, Twinkle,Little Star \n\t How I wonder what you are.\n\t Up above the world so high.\n\t Like a diamond in the sky.")

Twinkle, Twinkle,Little Star
	 How I wonder what you are.
	 Up above the world so high.
	 Like a diamond in the sky.