In [ ]:
# python data collection
#list'
#tuple
#dict
#set

In [ ]:
#list
#-indexing
#-multiple and duplicate data
#-ordered
#-mutable

In [1]:
#l = list()
l = ["Apple", "Ball", "Cat", "Dog"]
a = [1,2,3,4,5,6,7,8,9,0]
print(type(l))
print(type(a))

<class 'list'>
<class 'list'>

In [5]:
#eg multiple and duplicate
l = ["Apple", "Ball", "Cat", "Dog"]
print(l[0])
print(l[0:4])
print(l[0:4:2])

Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat']

In [6]:
#eg ordered
l = ["Apple", "Ball", "Cat", "Dog"]
print(l)

['Apple', 'Ball', 'Cat', 'Dog']

In [7]:
a = [1,2,3,4]
b = [5,6,7,8,9]
c = a+b
c

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
a = [1,2,3,4]
print(a*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [10]:
l = ["Apple", "Ball", "Cat", "Dog"]
for i in l:
    print(i)

Apple
Ball
Cat
Dog

In [14]:
l = ["Apple", "Ball", "Cat", "Dog"]
search = input("Enter search = ")
if search in l:
    print("yes")
    print(l.count(search))
else:
    print("no")

Enter search = Apple
yes
1

In [ ]:
#append()- to add value
#extend()
#insert()

In [15]:
# mutable data type
a = []
a.append("Apple")
a.append("Ball")
a.append("Cat")
print(a)

['Apple', 'Ball', 'Cat']

In [18]:
l = []
n = int(input("Enter n ="))
for i in range(n):
    x = int(input("Enter x ="))
    l.append(x)
    
print(l)

Enter n =5
Enter x =6
Enter x =5
Enter x =8
Enter x =5
Enter x =2
[6, 5, 8, 5, 2]

In [22]:
l = [12,85,65,14,25,55,96,82]
print("Maximum value =", max(l))
print("Minimun valut =", max(l))
print("sum of list =",sum(l))
l.sort()          # acending order
print(l)

Maximum value = 96
Minimun valut = 96
sum of list = 434
[12, 14, 25, 55, 65, 82, 85, 96]

In [25]:
a = ["Ball","Apple","Ant","APPLE"]
a.sort()
print(a)

['APPLE', 'Ant', 'Apple', 'Ball']

In [57]:
a = ["Ball","Apple","Ant","APPLE"]
a.insert(1,"Zebra")

print(a)

['Ball', 'Zebra', 'Apple', 'Ant', 'APPLE']

In [35]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = [4,6,7,7]
a.extend(b)
a.extend(c)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4, 6, 7, 7]

In [ ]:
#del=remove index remove()-remove  pop()

In [44]:
a = ["Ball","Apple","Ant","APPLE"]
del a[0]
print(a)

['Apple', 'Ant', 'APPLE']

In [45]:
a = ["Ball","Apple","Ant","APPLE"]
del a[0:3]
print(a)

['APPLE']

In [52]:
a = ["Ball","Apple","Ant","APPLE","Ball"]
c = a.count("Ball")
for i in range(c):
    a.remove("Ball")
print(a)

['Apple', 'Ant', 'APPLE']

In [54]:
#find the index of ball
a = ["Ball","Apple","Ant","APPLE","Ball"]
c = len(a)
for i in range(c):
    if "Ball"== a[i]:
        print(i)

0
4

In [ ]:
# list inside list

In [58]:
a = [[1,2,3,],
    [4,5,6,],
    [7,8,9]]
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [63]:
a = [["Ram ",45,"Kathmendu"],
    ["Shyam",55,"Bhaktapur"],
    ['Hari',88,'Lalitpur']]
print(a)

[['Ram ', 45, 'Kathmendu'], ['Shyam', 55, 'Bhaktapur'], ['Hari', 88, 'Lalitpur']]

In [64]:
print(a[0])

['Ram ', 45, 'Kathmendu']

In [67]:
print(a[0][2])

Kathmendu

In [71]:
l = []
n = int(input('Enter the value of n :'))
for i in range(n):
    name = input('Enter name :')
    age = int(input('Enter age :'))
    add = input('Enter add :')
    x = [name,age,add]
    l.append(x)
    
print(l)

Enter the value of n :2
Enter name :sunita
Enter age :22
Enter add :kat
Enter name :dipen
Enter age :55
Enter add :lal
[['sunita', 22, 'kat'], ['dipen', 55, 'lal']]

In [72]:
a = [["Ram ",45,"Kathmendu"],["Shyam",55,"Bhaktapur"]]
a.append(['sunita',22,'kapan'])
print(a)

[['Ram ', 45, 'Kathmendu'], ['Shyam', 55, 'Bhaktapur'], ['sunita', 22, 'kapan']]

SyntaxError: cannot delete function call (397210450.py, line 1)

In [20]:
# search
l = [["Ram ",45,"Kathmendu"],
    ["Shyam",55,"Bhaktapur"],
    ['Hari',88,'Lalitpur']]
name = input("Enter name =")
for i in l:
    if name in i:
        print(i)

IndentationError: expected an indented block after 'if' statement on line 7 (19123640.py, line 8)

In [1]:
#update

l = ["Ram ",45,"Kathmendu"]
l[0] = "Rama"
l

['Rama', 45, 'Kathmendu']

In [5]:
l = [["Ram ",45,"Kathmendu"],
    ["Shyam",55,"Bhaktapur"],
    ['Hari',88,'Lalitpur']]
l[0][0] = 'Rama'
l

[['Rama', 45, 'Kathmendu'],
 ['Shyam', 55, 'Bhaktapur'],
 ['Hari', 88, 'Lalitpur']]

In [6]:
l = [["Ram ",45,"Kathmendu"],
    ["Shyam",55,"Bhaktapur"],
    ['Hari',88,'Lalitpur']]
l[1][2] = 55
l

[['Ram ', 45, 'Kathmendu'], ['Shyam', 55, 55], ['Hari', 88, 'Lalitpur']]

In [ ]:
# to create a matrix by taking input form user
#row
#column
#value

In [2]:
x = []
r = int(input('Enter r ='))
c = int(input('Enter c ='))
for i in range(r):
    y = []
    for j in range(c):
        z = int(input('Enter z ='))
        y.append(z)
    x.append(y)
print(x)

Enter r =2
Enter c =2
Enter z =5
Enter z =2
Enter z =2
Enter z =2
[[5, 2], [2, 2]]

In [5]:
l = list(("sun","moon","star","earth"))
print(l)

['sun', 'moon', 'star', 'earth']

In [14]:
a = []
r = input("Enter r =")
c = input("Enter c =")
for i in range(r):
    y = []
    for j in range(c):
        food = input("food =")
        y.append("food")
    a.append(y)
print(a)

Enter r =DAL
Enter c =BHAT

TypeError: 'str' object cannot be interpreted as an integer