In [ ]:
#for loop 
for eg: range(5)
always start with 0
condition<5
increment 1
#while loop

In [ ]:
# for loop
range(5)       #0,1,2,3,4,
range(1,5)     #1,2,3,4
range(1,10,2)  #1,3,5,7,9 #increment by 2

In [10]:
for i in range(1,10,2):
    print(i, "hello world")

1 hello world
3 hello world
5 hello world
7 hello world
9 hello world

In [1]:
for i in range(1,10,-3):
    print(i, "hello world")

In [4]:
# WAP create a multiplication table
n = int(input("Enter n ="))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n =1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [5]:
for i in range(5):
    x = int(input("Enter the value of x ="))
    print(x)

Enter the value of x =20
20
Enter the value of x =30
30
Enter the value of x =50
50
Enter the value of x =60
60
Enter the value of x =60
60

In [2]:
s = 0
n = int(input("Enter n ="))
for i in range(n):
    x = int(input("Enter x ="))
    s = s + x
    print("Total",s)

Enter n =3
Enter x =5000
Total 5000
Enter x =6000
Total 11000
Enter x =4000
Total 15000

In [3]:
s = 0
n = int(input("Enter n ="))
for i in range(n):
    x = int(input("Enter x ="))
    s = s + x
print("sum =",s)

Enter n =5
Enter x =20
Enter x =60
Enter x =50
Enter x =40
Enter x =80
sum = 250

In [1]:
#s = str()
s = ""
n = int(input("Enter n ="))
for i in range(n):
    x = (input("Enter x ="))
    s = s + x +"\n" 
print(s)

Enter n =2
Enter x =sunita
Enter x =dipen
sunita
dipen

In [8]:
s = ""
n = int(input("Enter n ="))
for i in range(n):
    x = input("Enter name =")
    y = input("Enter mobile number =")
    s = s + x + " " + y +"\n" 
print(s)

Enter n =2
Enter name =su
Enter mobile number =98
Enter name =di
Enter mobile number =98
su 98
di 98

In [ ]:
# for loop in string

In [9]:
a = "hello world"
for i in a:
    print(i, end ="")

hello world

In [11]:
a = "Hello world"
for i in a:
    print(i)

H
e
l
l
o

w
o
r
l
d

In [13]:
a = "Hi my name is sunita"
for i in a:
    print(i, "Hi my name is sunita")

H Hi my name is sunita
i Hi my name is sunita
  Hi my name is sunita
m Hi my name is sunita
y Hi my name is sunita
  Hi my name is sunita
n Hi my name is sunita
a Hi my name is sunita
m Hi my name is sunita
e Hi my name is sunita
  Hi my name is sunita
i Hi my name is sunita
s Hi my name is sunita
  Hi my name is sunita
s Hi my name is sunita
u Hi my name is sunita
n Hi my name is sunita
i Hi my name is sunita
t Hi my name is sunita
a Hi my name is sunita

In [15]:
a = "Hello World! I am Python."
for i in a:
    if i != "." and i !="!" :
        print(i, end ="")

Hello World I am Python

In [16]:
for i in range(5):
    print(i*"o")

o
oo
ooo
oooo

In [20]:
space in "" determines the numbers
n = 10
for i in range(n):
    print((n-i)*" ", (2*i-1)*"o")

          o
         ooo
        ooooo
       ooooooo
      ooooooooo
     ooooooooooo
    ooooooooooooo
   ooooooooooooooo
  ooooooooooooooooo

In [22]:
n = 10
for i in range(n):
    print((n-i)*" ",(2*i-1)*"O")
for i in range(n,0,-1):
    print((n-i)*" ",(2*i-1)*"o")

          O
         OOO
        OOOOO
       OOOOOOO
      OOOOOOOOO
     OOOOOOOOOOO
    OOOOOOOOOOOOO
   OOOOOOOOOOOOOOO
  OOOOOOOOOOOOOOOOO
 ooooooooooooooooooo
  ooooooooooooooooo
   ooooooooooooooo
    ooooooooooooo
     ooooooooooo
      ooooooooo
       ooooooo
        ooooo
         ooo
          o

In [ ]:
#control
#break
#continue
#pass

In [25]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [27]:
for i in range(10):
    if i == 5:
        continue
    print(i, end =" ")

0 1 2 3 4 6 7 8 9

In [28]:
for i in range(5):
    pass

In [31]:
a = "Hello World. I am python."
for i in a:
    if i == ".":
        break
    print(i, end = "")

Hello World

In [32]:
a = "Hello World. I am sunita."
for i in a:
    if i == ".":
        continue
    print(i, end = "")

Hello World I am sunita

In [40]:
n = int(input("Enter = "))
for i in range(1,n*11):
    if i%n !=0:
        continue
    print(i)

Enter = 5
5
10
15
20
25
30
35
40
45
50

In [ ]:
range(5)
#start=0
#condition<5
#increment 1

range(1,6)
# start=1
#condition<6
#increment 1

In [41]:

for n in range(5):
    print(n)

0
1
2
3
4

In [49]:
for n in range(1,11):
    print("2*",n,"=",n*2)

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18
2* 10 = 20