In [10]:
print("Hello World")

Hello World

In [11]:
print("My name is python")
print("I am 2 years od")

My name is python
I am 2 years od

In [13]:
# assigning values to variables
name = "python"
age  = 4
price = 45.7
oldprice = True
print("my name is", name)
print("i am ", age)

# defining data types
print(type(name))
print(type(age))
print(type(price))
print(type(oldprice))

my name is python
i am  4
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# video 2

In [1]:
# arithemetic operatiors
a = 10
b = 50
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a//b)

60
-40
500
0.2
100000000000000000000000000000000000000000000000000
0

In [2]:
# string concetination
a = "Hello"
b = "World"
c = a+b
print(c)

HelloWorld

In [3]:
a = "hello world\n"
print(a*2)

hello world
hello world

In [11]:
# inputs in python
name = input("enter name =")
age = int(input("enter age ="))
location = input("enter location = ")
info = ("My name is " + name + "I am " + str(age) + "years old and " + " I live in " + location)   # converting int to str
print(info)

enter name =python
enter age =5
enter location = kathmandu
My name is pythonI am 5years old and  I live in kathmandu

In [ ]:
# inputs on python
name = input("Enter name =")
age = int(input("Enter name=  "))
address = input("Enter address = ")
info = ("MY name is " + name + "I am "+ str(age), "years old and " + "I live in " + address)
info

Enter name =python