In [10]:
a = int(input("Enter salary ="))
b = int(input("Enter year of service ="))

if b >= 5:
    print("bonus = ",.05*a )
else:
    print("not eligible")

Enter salary =50000
Enter year of service =5
bonus =  2500.0

In [13]:
length = int(input("Enter the value of length ="))
breath = int(input("Enter the valut of breath ="))
if length == breath:
    print("the rectangular is square")
else:
    print("the rectangular is not square")

Enter the value of length =40
Enter the valut of breath =40
the rectangular is square

In [2]:
a = int(input("Enter the vlaue ="))
b = int
if a>b:
    print(" a is greatest")
elif b>a:
    print(" b is greatest")
else:
    print("both are equal")

Enter the vlaue =5
Enter the value =5
both are equal

In [4]:
math = int(input("Enter the marks"))
science = int(input("Enter the marks"))
economy = int(input("Enter the marks"))
history = int(input("Enter the marks"))

total = math + science + economy + history
percentage = total/4

if percentage >80:
    print("grade A")
elif percentage >=60 and <80:
    print("grade B")
elif percentage >=50 and <60:
    print("grade C")
elif percentage >=45 and <50:
    Print("grade D")
elif percentage >=25 and <45:
    print("grade E")
else:
    print("fail")
    
print("total =", total)
print("percentage =", percentage)

SyntaxError: invalid syntax (189810817.py, line 11)

In [5]:
a,b = 5,6.2
c = a*b
print(c)

31.0

In [6]:
""""python jave 
filter remote return"""
a,b = 7,9.6
c = a%b
print(c)

7.0

In [19]:
name = "sunita"
age = 23
location = "Mulpani"

print("my name is " +  str(name) + " I am " + str(age) )

my name is sunita I am 23

In [23]:
name = input("name: ")
age = int(input("age : "))
location = input("location: ")
print("My name is",name,"." "I am ", age, "and " "I live in", location,".")

name: dipen
age : 35
location: usa
My name is dipen .I am  35 and I live in usa .