In [1]:
# string
a = "Hello World"
b = 'Hello World'

print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [5]:
a = "Hello"
b = "World"
c = a+b
print(c)

HelloWorld

In [3]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [12]:
a = "Hello World"     all letters has different index value
print(a[0])
print(a[-1])
print(a[0:5])
print(a[0:10:2])

H
d
Hello
HloWr

In [13]:
a = "Hello World"        length calculation
print(len(a))

11

In [16]:
a = "Hello World"        
for i in range(len(a)):
    print(a[i])

H
e
l
l
o

W
o
r
l
d

In [17]:
a = "Hello World"        
for i in range(len(a)):
    print(a[i], end ="")

Hello World

In [18]:
i = 0
a = "Hello World"
while i<len(a):
    print(a[i],end ="")
    i = i+1

Hello World

In [24]:
# string formating # no need to change int to str
name = "Ram"
age = 45
add = "Kathmandu"
info = f"Hello World I am {name}. I am from {add}. I am {age}"
print(info)

Hello World I am Ram. I am from Kathmandu. I am 45

In [2]:
s = ""
i = 0
n = int(input("enter n ="))
while i<n:
    name = input("enter name - ")
    phone = input("enter phone - ")
    s = s + f"{name} {phone}\n"
    i = i+1
    print(s)

enter n =2
enter name - sunita
enter phone - 98
sunita 98

enter name - sunita
enter phone - 95
sunita 98
sunita 95

In [5]:
# search in string
a = "Ram Shyam Hari Sita Gita"
search = input("Enter search vaule = ")
if search in a:
    print("Yes")
else:
    print("No")

Enter search vaule = Ram
Yes

In [7]:

a = "Ram Shyam Hari Sita Gita"
print(a.upper())
print(a.lower())
print(a)

RAM SHYAM HARI SITA GITA
ram shyam hari sita gita
Ram Shyam Hari Sita Gita

In [10]:
a = "Ram Shyam Hari Sita Gita" .lower()
search = input("Enter search vaule = ").lower()
if search in a:
    print("Yes")
    print(a.count(search))
else:
    print("No")

Enter search vaule = hari
Yes
1

In [14]:
# replace()
a = "Ram Shyam Hari Sita Gita Ramesh" 
a = a.replace("Ram ", "ram ")
print(a)

ram Shyam Hari Sita Gita Ramesh

In [17]:
# use of empty string to remove the variable
a = "Ram Shyam Hari Sita Gita Ramesh" 
a = a.replace("Hari", "")
print(a)

Ram Shyam  Sita Gita Ramesh

In [18]:
# array or list
a = "Ram Shyam Hari Sita Gita Ramesh"
a.split()

['Ram', 'Shyam', 'Hari', 'Sita', 'Gita', 'Ramesh']

In [19]:
# find the space
i = 0
a = "Hello World I am python"
while i<len(a):
    print(a[i],end ="")
    i = i+1

Hello World I am python

In [4]:
s = ""
i = 0
n = int(input("Enter vaule = "))
while i<n:
    name = input("Enter name = ")
    phone = input("Enter number = ")
    s = s + f"{name} {phone}\n"
    i = i+1
    print(s)

Enter vaule = 2
Enter name = sunita
Enter number = 98
sunita  98

Enter name = dipen
Enter number = 98
sunita  98
dipen 98

In [5]:
a = "sunita dipen rupa dipa"
search = input("Enter search value = ")
if search in a:
    print("yes")
else:
    print("no")

Enter search value = sunita
yes

In [10]:
i = 0
a = "Hello I am python"
while i<len(a):
    print(a[i], end ="")
    i = i+1

Hello I am python