In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello I am python")
print("I am easy to learn")

Hello I am python
I am easy to learn

In [5]:
# assigning values to variables
name = "python"
age = 22
price = 40000.00
oldprice = True

print("My name is :", name)
print("I am :", age)
print("it costs me Rs.:", price)

print(type(name))
print(type(age))
print(type(price))
print(type(oldprice))

My name is : python
I am : 22
it costs me Rs.: 40000.0
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>