In [ ]:
# tuple
#- indexing
#- ordered
#-multiple and duplicate date
#- imutable

In [ ]:
t = tuple()

In [1]:
t = ('apple','ball','cat','dog')
print(type(t))

<class 'tuple'>

In [2]:
t = ('apple')
print(type(t))

<class 'str'>

In [3]:
t = ('apple',)  # must add comma at singel string
print(type(t))

<class 'tuple'>

In [5]:
t = ('apple','ball','cat','dog')
print(t[3])

dog

In [ ]:
#cannot operate below functions in tuple  #least used data type compared to dict list, light weight, it can be concated
# append() insert()  extend() update() del remove() pop() sort()

In [6]:
a = (1,2,3,4)
b = (5,6,7,8)
c = a+b
c

(1, 2, 3, 4, 5, 6, 7, 8)

In [19]:
a = tuple()
n = int(input("Enter x = "))
for i in range(n):
    x = int(input('Enter x ='))
    a = a + (x,)
    
print(a)

Enter x = 5
Enter x =54
Enter x =55
Enter x =32
Enter x =85
Enter x =65
(54, 55, 32, 85, 65)

In [20]:
print(max(a))
print(min(a))
print(sum(a))

85
32
291

In [14]:
t = ('apple','ball','cat','dog')
t = list(t)
t

['apple', 'ball', 'cat', 'dog']

In [15]:
t = ('apple','ball','cat','dog')
t = list(t)
del t[0]
t = tuple(t)
t

('ball', 'cat', 'dog')

In [22]:
a = ("Apple")
print(tuple(a))
print(list(a))

('A', 'p', 'p', 'l', 'e')
['A', 'p', 'p', 'l', 'e']

In [ ]:
# set- always maintains uniqueness, it prevents duplicate values

#- no indexing
#- unordered
#- multiple but no duplicate date
#- mutable

In [ ]:
s = set()

In [26]:
# unordered
s = {"Apple","Ball","Cat","Dog"}
print(type(s))
print(s)
s

<class 'set'>
{'Dog', 'Cat', 'Ball', 'Apple'}

{'Apple', 'Ball', 'Cat', 'Dog'}

In [25]:
# doesnot support indexing
s = {"Apple","Ball","Cat","Dog"}
print(s[0])

TypeError: 'set' object is not subscriptable

In [28]:
# duplicate value
s = {"Apple","Ball","Cat","Dog","Apple"}
print(s)

{'Dog', 'Cat', 'Ball', 'Apple'}

In [29]:
s = {}
type(s)

dict

In [30]:
s = {1}
type(s)

set

In [32]:
s = set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
print(s)

{'Cat', 'Ball', 'Apple'}

In [37]:
s = set()
n = int(input("Enter n ="))
for i in range(n):
    x = int(input("Enter x ="))
    s.add(x)
    
print(s)

Enter n =2
Enter x =65
Enter x =96
{96, 65}

In [39]:
s = {1,2,3,4,5,6}
s.remove(2)
s

{1, 3, 4, 5, 6}

In [43]:
a = {1,2}
b = {3,4}
a.update(b)
print(a)

{1, 2, 3, 4}

In [44]:
a = {1,2,3,4,5,6}
b = {3,4,7,8,9,0}
i = a.intersection(b)
i

{3, 4}

In [45]:
a = {"Apple","Ball","Cat"}
b = {"Apple","Bat"}
c = a.intersection(b)
c

{'Apple'}

In [46]:
a = {1,2,3,4,5,6}
b = {3,4,7,8,9,0}
i = a.union(b)
i

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [47]:
print(a-b)

{1, 2, 5, 6}

In [48]:
print(b-a)

{0, 8, 9, 7}

In [50]:
U = {0,1,2,3,4,5,6,7,8,9}
a = {1,2,3,4,5,6}
b = {3,4,7,8,9}
un = a.union(b)
print(U-un)

{0}

In [ ]:
#inside set
#- no list
#- no dict
#- no set

In [51]:
a = {"Apple","Ball"}
b = {(1,2),(3,4),(5,6)}
i = a.update(b)
print(i)

None