In [ ]:
# dict

In [3]:
info = {'name':'John','age':20,'address':'kathmandu'}
info

{'name': 'John', 'age': 20, 'address': 'kathmandu'}

In [9]:
info = {'name':'John','age':20,'address':'kathmandu'}
info['phone'] = 9843269777
info

{'name': 'John', 'age': 20, 'address': 'kathmandu', 'phone': 9843269777}

In [13]:
info = {'name':'John','age':20,'address':'kathmandu'}
info.update({'name':'Jina','age':25,'phone':5555555})
info

{'name': 'Jina', 'age': 25, 'address': 'kathmandu', 'phone': 5555555}

In [16]:
info = {'name':'John','age':20,'address':'kathmandu'}
del info['name']
info

{'age': 20, 'address': 'kathmandu'}

In [17]:
info = {'name':'John','age':20,'address':'kathmandu'}
age = info.pop('age')
info

{'name': 'John', 'address': 'kathmandu'}

In [18]:
info = {'name':'John','age':20,'address':'kathmandu'}
print(len(info))

3

In [19]:
info = {'name':'John','age':20,'address':'kathmandu'}
print(info.keys())

dict_keys(['name', 'age', 'address'])

In [20]:
info = {'name':'John','age':20,'address':'kathmandu'}
print(info.values())

dict_values(['John', 20, 'kathmandu'])

In [21]:
info = {'name':'John','age':20,'address':'kathmandu'}
print(info.items())

dict_items([('name', 'John'), ('age', 20), ('address', 'kathmandu')])

In [23]:
info = {'name':'John','age':20,'address':'kathmandu'}
for key in info:
    print(key)

name
age
address

In [26]:
info = {'name':'John','age':20,'address':'kathmandu'}
for key in info.items():
    print(key)

('name', 'John')
('age', 20)
('address', 'kathmandu')

In [46]:
info = {'name':'sunita','age':35,'location':'boudha'}
for key,values in info.items():
    print(key,values)

name sunita
age 35
location boudha

In [31]:
#list

courses = ['Art','Education','HIstory','Population']
couses.sort()


print(courses)

NameError: name 'couses' is not defined

In [ ]:
# list